{{- $frontmatter := .Get 0 -}}
{{- $expected := .Get 1 -}}
{{- $expected2 := .Get 2 -}}
{{- $datetimetzd := "2006-01-02 15:04Z07:00" -}}
{{- $datetimetzn := "2006-01-02 15:04 MST" -}}
{{- $dateformattzd := $.Page.Params.Date.Format $datetimetzd -}}
{{- $timeformattzd := time.Format $datetimetzd $.Page.Params.Date -}}
{{- $dateformatmst := $.Page.Params.Date.Format $datetimetzn -}}
{{- $timeformatmst := time.Format $datetimetzn $.Page.Params.Date -}}
<style>
  /* override theme CSS */
  article .content ul li.mark::before {
    content: none;
  }
  /* apply modern CSS ::marker */
  article .content ul li.mark {
    display: list-item;
    list-style-position: inside;
  }
  article .content ul li.checkmark::marker {
    content: "\1F5F8\20";
    color: hsla(120deg, 100%, 50%, 1);
    color: hwb(120deg 0% 0% / 1);
    font-size:larger;
  }
  article .content ul li.xmark::marker {
    content: "\1F5D9\20";
    color: hsla(0deg, 100%, 50%, 1);
    color: hwb(0deg 0% 0% / 1);
    font-size:larger;
  }
</style>
<h2>Format: 2006-01-02 15:04 MST</h2>
<ul>
  <li>&lt;html lang="{{ $.Site.LanguageCode }}"&gt;</li>
  <li>frontmatter: {{ $frontmatter }}</li>
  <li>expected: {{ $expected }}</li>
  <li>
    <ul class="mark">output:
      <li class="mark {{ if eq $expected $dateformatmst }}checkmark{{ else }}xmark{{ end }}">.Date.Format: {{ $dateformatmst }}</li>
      <li class="mark {{ if eq $expected $timeformatmst }}checkmark{{ else }}xmark{{ end }}">time.Format: {{ $timeformatmst }}</li>
    </ul>
  </li>
</ul>

<h2>Extra test: 2006-01-02 15:04Z07:00</h2>
<ul>
  <li>&lt;html lang="{{ $.Site.LanguageCode }}"&gt;</li>
  <li>frontmatter: {{ $frontmatter }}</li>
  <li>expected: {{ $expected2 }}</li>
  <li>
    <ul class="mark">output:
      <li class="mark {{ if eq $expected2 $dateformattzd }}checkmark{{ else }}xmark{{ end }}">.Date.Format: {{ $dateformattzd }}</li>
      <li class="mark {{ if eq $expected2 $timeformattzd }}checkmark{{ else }}xmark{{ end }}">time.Format: {{ $timeformattzd }}</li>
    </ul>
  </li>
</ul>
